@import url('https://smc.org.in/fonts/anjalioldlipi.css');
* {
  padding: 0;
  margin: 0;
  font-family: 'AnjaliOldLipi', sans-serif;
  line-height: 1.6;
  box-sizing: border-box;
}
.container{
  background: inherit;
  width: 70%;
  align-items: center;
  margin: auto;
}
.landing {
  display: flex;
  margin: auto auto 30px auto;
  background: #253137;
  color: #ffffff;
  min-height: 80vh;
  align-items: center;
}

.landing-img{
  margin: 20px auto;
  display: flex;
}

.landing-img img{
  margin: auto;
  width: 80%;
}

.intro-text{
  margin: auto;
  flex: 1;
  color: inherit;
  text-align: center;
}
.intro-text h1{
  font-size: 56px;
}
.intro-text h3{
  margin-bottom: 20px;
}
.button{
  border: 2px solid #00B588;
  color: #00B588;
  width: 150px;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button a{
  margin: 0px;
  color: inherit;
  text-decoration: none;
}
.heading{
  font-size: 34px;
  margin: 20px;
  padding: 0px;
  border-bottom: 5px solid #00B588;
}
.about{
  display: flex;
  margin: auto;
  min-height: 80vh;
  text-align: right;
}
.about-body{
  display: flex;
  margin: auto;
  justify-content: space-around;
}
.about-img{
  display: flex;
}
.about-img img{
  max-height: 400px;
  margin: 20px auto;
  border-radius: 20px;
}
.about-text{
  margin: auto;
  max-width:600px;
  text-align: right;
  display: flex;
  flex-direction: column;
}
.whatwedo{
  background: #253137;
  color: #ffffff;
}
.thingswedo-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.thingswedo-heading{
  margin: 40px auto auto auto;
}
.thingswedo{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  align-items: center;
  margin: auto;
}
.the-things{
  width:  500px;
  margin: 20px;
  padding: 20px 30px;
  text-align: center;
}
.whatwedo-logo{
  height: 50px;
}
.the-things img{
  filter: invert(1);
}
.contact-heading {
  display: flex;
  justify-content: center;
  margin: auto;
}
.contact{
  margin-bottom: 10vh;
}
.contact-container {
  max-width: 800px;
  width: 90%;
  margin: auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #00B588;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}
footer {
  padding: 40px 10px;
  background-color: #253137;
}

footer .social {
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  padding: 0px;
}
footer .social a {
  color: #999999;
  text-decoration: none;
  display: inline-block;
  margin: 15px 12px;
  transition: all 0.5s ease;
  text-decoration: none;
}
footer .social a:hover {
  color: #fff;
}
.copyright {
  background-color: #253137;
  border-top: 1px solid #1d1d27;
  padding: 15px;
}
.copyright p {
  color: #838383;
  margin: 0;
  text-align: center;
  font-weight: 300;
  font-size: 16px;
}

@keyframes dropdown{
  0% {
	  opacity: 0;
	  transform: translateY(-80px);
  }
  100% {
	  opacity: 1;
	  transform: translateY(0px);
  }
}
@keyframes fadein{
  0% {
	  opacity: 0;
	  transform: translateX(80px);
  }
  100% {
	  opacity: 1;
	  transform: translateX(0px);
  }
}

@keyframes fadeincircle{
  0% {
	  opacity: 0;
  }
  100% {
	  opacity: 0.1;
  }
}

@keyframes appear{
  0% {
	  opacity: 0;
  }
  100% {
	  opacity: 1;
  }
}

@media screen and (max-width:1100px) {
  .landing{
    min-height: 80vh;
  }
  .container{
    flex-direction: column;
    width: 80%;
  }
  .landing-img{
    width: 90%
  }
  .intro-text{
    flex: 0;
    margin: 20px auto;
  }
  .intro-text h1{
    font-size: 32px;
  }
  .about{
    margin-bottom: 10vh;
  }
  .about-body{
    flex-direction: column;
    margin: auto;
  }
  .about-img{
    margin: auto;
  }
  .about-img img{
    width: 80%;
  }
  .about-text{
    margin: auto;
    max-width:600px;
    text-align: justify;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .the-things{
    width:  auto;
  }
}
